.col-6.m-0.p-0.pt-3.pl-5.row
  .col-8.m-0.p-0 First name
  .col-8.m-0.p-0
    input.form-control.my-1(type= "text", name= "first_name")
  .col-8.m-0.p-0 Last name
  .col-8.m-0.p-0
    input.form-control.my-1(type= "text", name= "last_name")
  .col-8.m-0.p-0 Date of birth
  .col-8.m-0.p-0
    input.form-control.my-1(type= "text", name= "birth_date")
  .col-8.m-0.p-0 Address
  .col-8.m-0.p-0
    input.form-control.my-1(type= "text", name= "address")
  .col-8.m-0.p-0.mt-3
    button.btn.btn-primary submit